/pyzmq-0.1.20100725git18f5d06.tar.xz
/pyzmq-2.0.8.tar.gz
/pyzmq-2.0.10.tar.gz
/pyzmq-2.0.10.1.tar.gz
/pyzmq-2.1.1.tar.gz
/pyzmq-2.1.4.tar.gz
/pyzmq-2.1.9.tar.gz
/pyzmq-2.1.11.tar.gz
/pyzmq-2.2.0.tar.gz
/pyzmq-2.2.0.1.tar.gz
/pyzmq-13.0.0.tar.gz
/pyzmq-13.0.2.tar.gz
/pyzmq-14.3.1.tar.gz
/pyzmq-14.4.1.tar.gz
/pyzmq-14.7.0.tar.gz
/pyzmq-15.3.0.tar.gz
/pyzmq-16.0.1.tar.gz
